<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% macro render_pagination(pagination, endpoint, page) %}
     <nav>
        <ul class="pagination">
            <li>
                {% if pagination.has_prev %}
                <a href="{{ url_for(endpoint, page=pagination.prev().page) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% else %}
                <a href="" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
            </li>
            {% for page in pagination.iter_pages() %}
              {% if page %}
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for(endpoint, page=page) }}">
                        {{ page }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="">{{ page }}</a>
                </li>
                {% endif %}
              {% else %}
                <li><a>...</a></li>
              {% endif %}
            {% endfor %}
            <li>
                <a href="{{ url_for(endpoint, page=pagination.next().page) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
     </nav>
    {% endmacro %}
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><a href="{{ url_for('blog.home') }}">MyBlog</a></h1>
            <p>Welcome!!!!</p>
        </div>
        {% block body %}
        {% endblock%}
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>