{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ post.title }}</h1>
                <h5>
                    作者：
                    <a href="{{ url_for('blog.user', user_name=user.username)}}">
                    <span>{{ user.username }}</span>
                    </a>
                </h5>
                <h5>
                    标签：
                    {% for tag in tags %}
                    <a href="{{ url_for('blog.tag', tag_name=tag.title) }}">
                        <span>{{ tag.title }}</span>
                    </a>
                    {% endfor %}
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span>
                    {{ post.body | safe }}
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="row">
            <h5>热门文章</h5>
            <ul>
                {% for post in recent %}
                <li><a href="{{ url_for('blog.post', post_id=post.id) }}">
                    {{ post.title }}
             </a></li>
                {% endfor %}
         </ul>
    </div>
        <div class="row">
            <h5>热门标签</h5>
            <ul>
                {% for tag in toptags %}
                <li><a href="{{ url_for('blog.tag', tag_name=tag[0].title) }}">
                    {{ tag[0].title }}
                </a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-12">
        <h3>发表评论</h3>
        <form method="post" action="{{ url_for('blog.post', post_id=post.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {% if form.name.error %}
                    {% for e in form.name.errors %}
                    <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.name(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.text.label }}
                {% if form.text.error %}
                    {% for e in form.text.errors %}
                    <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.text(class_='form.control') }}
            </div>
            <input class="btn btn-primary" type="submit" value="发表">
        </form>
    </div>
</div>
{% endblock %}